.keyframes (@name; @arguments) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}

.transform (@arguments) {
	-webkit-transform: @arguments;
	-moz-transform: @arguments;
	-ms-transform: @arguments;
	transform: @arguments;
}

.animation (@arguments) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	animation: @arguments;
}

.keyframes ( fade-in; {

	0% { opacity: 0; }
	100% { opacity: 1; }

});

.keyframes ( bounce; {
	0%, 20%, 50%, 80%, 100% {
		.transform (translateY(0));
	}
	40% { 
		.transform (translateY(-30px));
	}
	60% {
		.transform (translateY(-15px));
	}
});
 
.fade-in {
	.animation (fade-in 1s linear);
}

.bounce {
	.animation (bounce 1s linear);
}